<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MaliyetProgram.Properties.Settings.MALIYETConnectionString"
            connectionString="Data Source=SQLSERVER;Initial Catalog=MALIYET;User ID=sa;Password=Sa2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>